/*
[IMS] Body: No Margins & Padding
Global zero margins & zero padding on "body" HTML tag.
*/

body {

    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    margin-top: 0rem !important;

    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-top: 0rem !important;
}