/*
[IMS] Link: Unvisited/Visited/Hover NO BACKGROUND
Global link colors: unvisited: BLUE, visited: RED, hover: GRAY. Background: NONE.
http://www.w3schools.com/css/css_link.asp
http://www.w3schools.com/css/css_pseudo_classes.asp
*/

/* unvisited */

a:link {
/* background-color: white !important; */
color: #3380b3 !important;
text-decoration: underline !important;
}

/* visited
http://www.w3schools.com/cssref/sel_visited.asp */

a:visited {
/* background-color: white !important; */
/* text-decoration: line-through !important; DOES NOT WORK! for a:visited can only change whitelisted styles due to "security" */
color: red !important;
}

/* a:hover MUST come after a:link and a:visited !!! */

a:hover {
background-color: #dddddd !important;
/* font-size: 1.0em !important; */
/* font-size: 100% !important; */
/* font-weight: bold !important; */
/* text-transform: uppercase; */
color: #333333 !important;
}